cuda_visible_devices: 0
random_state: 101

defaults:
  - _self_
  - dataset: Zvuk
  - model: SASRec

clearml_project_folder: null  # seq_splits
clearml_task_name: null  # train

use_pretrained_embeddings: False
pretrained_embeddings:
  add_padding_emb: True
  freeze: False

use_semantic_ids: False
semantic_ids_map_path: data/item_sem_id_modified.pkl
semantic_ids_len: 4

split_type: global_timesplit  # global_timesplit, leave-one-out
split_subtype: # if global_timesplit: val_by_user, val_last_train_item, val_by_time
quantile: 0.9 # 0.9, 0.95, 0.975, 0.8 
validation_quantile: ${quantile}

dataset_params:
  max_length: 128
  # shift_labels: False #False if GPT2

dataloader:
  batch_size: 128
  test_batch_size: 256
  num_workers: 8
  validation_size: 2048  # ?

seqrec_module:
  lr: 0.001
  predict_top_k: 10  # this value is used for validation
  filter_seen: False

trainer_params:
  max_epochs: 5000
  accelerator: gpu
patience: 200
load_if_possible: False

evaluator:
  successive_val: False 
  successive_test: False
  successive_test_retrained: ${evaluator.successive_test}
  calc_successive_metrics_val: True
  calc_successive_metrics_test: True
  calc_successive_metrics_test_retrained: ${evaluator.calc_successive_metrics_test}
  successive_replay_metrics: False
  metrics: ['NDCG', 'HitRate', 'MRR', 'Coverage']
  top_k: [5, 10, 20]

retrain_with_validation: False
save_val_last_predictions: False
save_test_last_predictions: False